<body style="background:#003540; text-align:center">

<P>
	<br>
	<div id="example-link">

  <font color="white"><FONT FACE=Calibri; size="5"> Hey </font>  <font color="#FFAC64"; size="6"><%= @user.name %></font>
	<font size="4">
	<br>temos um segredo pra te contar!!! :)
	<br>Chegou a hora de brincar de amigo secreto!
	<br><br>
	<!--<br>O sorteio do grupo <%= @grupo %> foi realizado! -->
  <br>O sorteio do grupo XXX foi realizado!


</div>
	<br>O seu amigo secreto é...
	<br><br><br>

	<div>
	<image src="http://dev.amigox.net/assets/gift.png" width="300px" </image>
	</div>
	<br><font style b><font color="#FFAC64"><font size="7"> <%= @user.friend.try(:name) %></font>
	</font>



</div>

</P>
</body>
