<P>
	<br>
  <font color="black"><FONT FACE=Calibri><font size="5"> Hey <%= @user.name %></font>
	<font size="4">
	<br>temos um segredo pra te contar!!! :)
	<br>Chegou a hora de brincar de amigo secreto!
	<br><br>
	<!--<br>O sorteio do grupo <%= @grupo %> foi realizado! -->
  <br>O sorteio do grupo XXX foi realizado!


	<br>O seu amigo secreto é...
	<br><br><br><br><br><br><br><br>
	 <br> <font style b><font color="black"><font size="5"> <%= @user.friend.try(:name) %></font>

	 <br>
	    Segue link para o mural de mensagens do Amigo Secreto <%= link_to 'Mural de Mensagens', murals_path %>

	</font>
</P>
